/* GENERAL LINK STYLE */

a {
  color: inherit;
  text-decoration: none;
}

/* TEXT LINKS */

.card a,
.document-link,
#contact a,
.button {
  position: relative;
  display: inline-block;
  padding-bottom: 0.08em;

  border-bottom: 1px solid currentColor;

  transition:
    color 0.2s ease,
    border-color 0.2s ease;
}

/* SMALL ARROW */

.card a::after,
.document-link::after,
#contact a::after,
.button::after {
  content: " ↗";
  font-size: 0.8em;
}

/* HOVER */

.card a:hover,
.document-link:hover,
#contact a:hover,
.button:hover {
  color: rgb(245, 188, 183);
  border-color: rgb(245, 188, 183);
}
